body{
	margin: 0;
	padding: 20px;
	background: #d6d6d6;
}
.section-slider{
	padding: 10px 0px;
	background: #fff;
}
.slider{
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	scroll-snap-points-x: repeat(300px);
	scroll-snap-type: mandatory;
}
.slider .img-slider{
	padding-top: 20px;
    vertical-align: middle;
    flex-shrink: 0;
    display: flex;
    border-radius: 5px;
    object-fit: cover;
    justify-content: center;
    margin: 8px 3px 4px;
    padding: 8px;
    height: 70px;
    width: 70px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 1px, rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
    text-transform: uppercase;
    align-items: center;
}
.slider::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}
.slider::-webkit-scrollbar-thumb{
	margin-top: 5px;
	background: #767676;
	border-radius: 10px;
	visibility: hidden;
}
.slider::-webkit-scrollbar-track{
	background: transparent;
}
.section-slider:hover .slider::-webkit-scrollbar-thumb{
	visibility: visible;
}